*{
    font-family: 'Fuzzy Bubbles', cursive;
}
#man {
    margin:auto;
    padding: 0;
    text-align: center;
}
#Hoshi {
    margin:auto;
    width:350px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-shadow: 3px 3px#999;
}

#Ptaki {
    float:left;
    margin-left:18.5%;
    margin-right:1%;
    padding: 10px 10px 20px;
    width: 200px;
    height: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #8a0b0bf1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgba(175, 9, 9, 0.986);
}
#Ptaki:hover 
    {background-color: #cc5151}
#Ptaki:active {
background-color: rgba(63, 180, 39, 0.986);
box-shadow: 0 3px #07660b;
transform: translateY(4px);
}
#Dos {
    float:left;
    margin-right:1%;
    padding: 10px 10px 20px;
    width: 200px;
    height: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8a0b0bf1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgba(175, 9, 9, 0.986);
}
#Dos:hover 
    {background-color: #cc5151}
#Dos:active {
        background-color: rgba(63, 180, 39, 0.986);
        box-shadow: 0 3px #07660b;
        transform: translateY(4px);
        }
#Herby {
    float:left;
    margin-right:1%;
    padding: 10px 10px 20px;
    width: 200px;
    height: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8a0b0bf1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgba(175, 9, 9, 0.986);
}
#Herby:hover 
    {background-color: #cc5151}
#Herby:active {
        background-color: rgba(63, 180, 39, 0.986);
        box-shadow: 0 3px #07660b;
        transform: translateY(4px);
        }
#Kotwica {
    float:left;
    margin-right:1%;
    padding: 10px 10px 20px;
    width: 200px;
    height: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8a0b0bf1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgba(175, 9, 9, 0.986);
}
#Kotwica:hover 
    {background-color: #cc5151}
#Kotwica:active {
        background-color: rgba(63, 180, 39, 0.986);
        box-shadow: 0 3px #07660b;
        transform: translateY(4px);
        }
#znaki {
    float:left;
    margin-right:1%;
    padding: 10px 10px 20px;
    width: 200px;
    height: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #8a0b0bf1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgba(175, 9, 9, 0.986);
}
#znaki:hover 
    {background-color: #cc5151}
#znaki:active {
        background-color: rgba(63, 180, 39, 0.986);
        box-shadow: 0 3px #07660b;
        transform: translateY(4px);
        }
