body{
    margin: auto;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: #D4FF33;
    text-align: center;
    margin: auto;
    font-size: 70px;
}
#mm{
    background-color: #c9de10;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}
#bt{
    display: flex;
    font-family: 'Fuzzy Bubbles', cursive;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5%;
    height: 50px;
    margin: 45px;
    background-color: #3fcc7c;
    border-radius: 30px;
}
#if{
    position: absolute;
    top: 30vh;
    left: 50px; 
    margin: 10px;
    padding: 10px;
    background-color: white;
    visibility: hidden;
    opacity: 0%;
    transition: 0.2s;
}
#bt:hover #if {
    visibility: visible;
    opacity: 100%;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main{
    width: 100%;
    height:550px;
    background-color: #e3fab4;
    text-align: center;
}
img{
    width: 400px;
    height: 500px;
}
footer{
    margin: auto;
    width: 100%;
    height: 100px;
    background-color: #d95d5d;
    text-align: right;
    font-size: 15px;
    clear: both;
}
footer p{
    float: right;
    margin-right: 10px;
}
iframe{
    border-width: 2px;
    border-style: inset;
}
 
